<header>
  <div class="fortune"></div>
  <h1>The Spiritual Advisor</h1>
  <nav>
  </nav>
</header>
<div class="spacer"></div>
<div class="allQuestions">
<article>
  <h2>What is your spirt animal?</h2>
<form action="/" method="POST" id="animal" class = "question">
  <input id="option" type="hidden" name="option" value= "animal" >
  <input class="btn" type="submit" value="Tell Fortune">
  <div>
   <div class="dada"></div>
  <div class="spiral"></div>
  <div class="gif"></div>
</form>
</article>

<article>
  <h2>Which Star wars character are you?</h2>
<form action="/" method="POST" id="starwars" class = "question">
  <input id="option" type="hidden" name="option" value= "star wars character" >
  <input class="btn" type="submit" value="Tell Fortune">
  <div class="spiral"></div>
  <div class ="gif"></div>
</form>
</article>


<article>
  <h2>Politician whom you admire?</h2>
<form action="/" method="POST" id="trump" class = "question">
  <input id="option" type="hidden" name="option" value= "trump" >
  <input class="btn" type="submit" value="Tell Fortune">
  <div class="spiral"></div>
  <div class ="gif"></div>
</form>
</article>

<article>
  <h2>Lets find who is going to be your future boy friend</h2>
<form action="/" method="POST" id="bf" class = "question">
  <input id="option" type="hidden" name="option" value= "actor" >
  <input  class="btn" type="submit" value="Tell Fortune">
  <div class="spiral"></div>
  <div class ="gif"></div>
</form>
</article>

<article>
  <h2>Lets find who is going to be your future girl friend</h2>
<form action="/" method="POST" id="gf" class = "question">
  <input id="option" type="hidden" name="option" value= "celebrity ladies" >
  <input class="btn" type="submit" value="Tell Fortune">
  <div class="spiral"></div>
  <div class ="gif"></div>
</form>
</article>

<article>
  <h2>Your reaction after assessment review</h2>
<form action="/" method="POST" id="confused" class = "question">
  <input id="option" type="hidden" name="option" value= "confused" >
  <input class="btn" type="submit" value="Tell Fortune">
  <div class="spiral"></div>
  <div class ="gif"></div>
</form>
</article>


<article>
  <h2>This is how your EE session ends every phase</h2>
<form action="/" method="POST" id="emotinal" class = "question">
  <input id="option" type="hidden" name="option" value= "emotional" >
  <input class="btn" type="submit" value="Tell Fortune">
  <div class="spiral"></div>
  <div class ="gif"></div>
</form>
</article>

<article>
  <h2>This is how you are gonna graduate DBC</h2>
<form action="/" method="POST" id="graduation" class = "question">
  <input id="option" type="hidden" name="option" value= "graduation" >
  <input class="btn" type="submit" value="Tell Fortune">
  <div class="spiral"></div>
  <div class ="gif"></div>
</form>
</article>
</div>

