<header>
  <nav>
    Hellllllllo
  </nav>
</header>

<article>
  <h2>What is your spirt animal</h2>
<form action="/" method="POST" id="questions">
  <input id="option" type="hidden" name="option" value= "animal" >
  <input type="submit" value="submit">
</form>
</article>

<article>
  <h2>Which Star wars character are you?</h2>
<form action="/" method="POST" id="questions">
  <input id="option" type="hidden" name="option" value= "star wars character" >
  <input type="submit" value="submit">
</form>
</article>


<article>
  <h2>Lets find who is going to be your future girl friend</h2>
<form action="/" method="POST" id="questions">
  <input id="option" type="hidden" name="option" value= "actress" >
  <input type="submit" value="submit">
</form>
</article>

<article>
  <h2>Lets find who is going to be your future boy friend</h2>
<form action="/" method="POST" id="questions">
  <input id="option" type="hidden" name="option" value= "actor" >
  <input type="submit" value="submit">
</form>
</article>
