<header>
  <nav>
    Hellllllllo
  </nav>
</header>

<article>
  <h2>What is your spirt animal</h2>
<form action="/restaurants" method="POST" id="questions">
  <input type="hidden" name="_method" value="animal">
  <input type="submit" value="submit">
</form>
<img href="<%=@animal%>"></img>
<!-- <%#=@animal%> -->
</article>

<!-- <article>
  <h2>What is your spirt animal</h2>
<form action="/restaurants" method="POST" id="questions">
  <input type="hidden" name="_method" value="SHIT HERE">
  <input type="submit" value="submit">
</form>
</article>


<article>
  <h2>What is your spirt animal</h2>
<form action="/restaurants" method="POST" id="questions">
  <input type="hidden" name="_method" value="SHIT HERE">
  <input type="submit" value="submit">
</form>
</article> -->
