<body background="http://covenmoon.com/wp-content/uploads/2016/05/develop-psychic-powers-fast.jpg">
  <div container>
    <h2>Welcome<%= @name%>!</h2>
    <div class="imgcontainer">
      <h4> Hmm I have read your past and found these things:</h4>
      <%characters = about%>
      <ul>
        <% characters.each do |character| %>
          <li><%= character%></li>
        <%end%>
      </ul>
      <a href="/questions">Do you wanna know about your future</a>
    </div>
  </div>
</body>
